* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: top;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.float-parent {
  border: 0px;
  padding: 0px;
}
.float-child-sidebar {
  width: 150px;
  float: left;
  padding: 0px;
  border-right: 1px solid #000000;
}
.float-child-main {
  width: 500px;
  float: left;
  padding: 0px;
  margin-top: 30px;
  margin-left: 20px;
}
