* {
  margin: 0;
}

/* html key words */
html,
body {
  height: 100%;
  background-color: #ffffff;
}
body {
  display: flex;
  align-items: top;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}

/* sidebar/main window layout */
.sidebar-main-parent {
  border: 0px;
  padding: 0px;
}
.sidebar {
  width: 150px;
  float: left;
  padding: 0px;
  border-right: 1px solid #000000;
}
.main-window {
  width: 500px;
  float: left;
  padding: 0px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #ffffff; /* jobs */
}

/* register/reset button spacing */
.registerResetSpacer {
  min-width: 264x;
  display: inline-block;
}
#cfd {
  margin-left: 15px;
}

/* from bootstrap examples html */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.lfxForm {
  background-color: #ffffff;
}

/* job panels */
.album {
  background-color: #ffffff;
}
.py-5 {
  background-color: #ffffff;
}
.bg-light {
  background-color: #ffffff;
}
.container {
  background-color: #ffffff;
}
.row {
  background-color: #ffffff;
}
.row-cols-1 {
  background-color: #ffffff;
}
.row-cols-sm-2 {
  background-color: #ffffff;
}
.row-cols-md-3 {
  background-color: #ffffff;
}
.g-3 {
  background-color: #ffffff;
}

/* flashes, successes, failures and messages */
.lfxMessages {
  background-color: #ffffff;
}

.lfxWhiteDiv {
  background-color: #ffffff;
}

.lfxAnchor {
  background-color: #e2c6f3;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

/* job-->apply */
table, th, td, tr {
  border:1px solid black;
  padding: 15px;
}
.lfxJobAppTable {
  border:1px solid black;
  width: 100%;
}
.tblCol01 {
  border:1px solid black;
  vertical-align: top;
  width: 50%;
}
.tblCol02 {
  border:1px solid black;
  vertical-align: top;
  width: 50%;
}
.lfxJobAppTable-appColHidden {
  display: none;
}

/* applications */
.tblAppJobIDcol {
  border:1px solid black;
  vertical-align: top;
  width: 5%;
}
.tblAppDateCol {
  border:1px solid black;
  vertical-align: top;
  width: 5%;
}
.tblAppJobTitleCol {
  border:1px solid black;
  vertical-align: top;
  width: 65%;
}
.tblAppJobLocationCol {
  border:1px solid black;
  vertical-align: top;
  width: 25%;
}