<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/images/.favicon.ico">
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>Catalyst Hub - home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/home.css" rel="stylesheet">
		<style>
			.float-parent {
				border: 0px;
				padding: 0px;
			}
			.float-child-sidebar {
				width: 150px;
				float: left;
				padding: 0px;
				border-right: 1px solid #000000;
			}
			.float-child-main {
				width: 500px;
				float: left;
				padding: 0px;
				margin-top: 30px;
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<!--columns container--><div class="float-parent">
			<!--column 1--><div id="sidebar" class="float-child-sidebar"></div><!--column 1-->
			<!--column 2--><div class="float-child-main">
				<div>
					<img src="../images/dayBlogging.jpg" class="d-block mx-lg-auto img-fluid"
						alt="computer programmer daydreaming of teaching code to the formerly incarcerated"
						width="915" height="498" loading="lazy">
				</div>
				<BR>
				<div>
					<h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Catalyst Hub</h1>
					<p class="lead">The place where inclusive employers find hard working, highly motivated talent.</p>
				</div>
			<!--column 2--></div>
		<!--column container--></div>
		
		
		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/loadSidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>