<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/images/.favicon.ico">
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>Catalyst Hub - jobs</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<!--columns container--><div class="float-parent">
			<!--column 1--><div id="sidebar" class="float-child-sidebar"></div><!--column 1-->
			<!--column 2--><div class="float-child-main">
				<div >
					<% jobs.map((job, arrayIndex)=>{ %>
						<h3><%=job.title %></h3>
						<p><%=job.company %>
							 <%=job.city %>
						</p>
						<a href="/jobs/<%=job._id%>" class="btn-oval">Learn More</a><br><br>
					<% }) %>
				</div>
			<!--column 2--></div>
		<!--column container--></div>
		
		
		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/loadSidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>


		

