<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/images/.favicon.ico">
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>Catalyst Hub - employ</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet">
	</head>

	<body>
		<!--column container--><div class="sidebar-main-parent">
			<!--column 1--><div id="sidebar" class="sidebar"></div><!--column 1-->
			<!--column 2--><div class="main-window">
				<form class="row g-3" name="employ" action="/employ" method="POST"
					enctype="application/x-www-form-urlencoded">

					<h1 class="h3 mb-3 fw-normal">Please enter job info</h1>				
					
					<!--begin row 0--><div class="col-md-6 form-floating">
						<input class="form-control" name="company" type="text" id="jc">
						<label for="jc">company</label>
					</div>
					<!--end row 0--><div class="col-md-6 form-floating"></div>

					<!--begin row 1--><div class="col-md-6 form-floating">
						<input class="form-control" name="title" type="text" id="jt">
						<label for="jt">title</label>
					</div>
					<div class="col-md-6 form-floating">
						<input class="form-control" name="city" type="text" id="jlo">
						<label for="jlo">location</label>
					<!--end row 1--></div>

					<!--begin row 2--><div class="col-md-4 form-floating">
						<input class="form-control" name="payMin" type="number" id="jpmi">
						<label for="jpmi">pay min</label>
					</div>
					<div class="col-md-4 form-floating">
						<input class="form-control" name="payMax" type="number" id="jpma">
						<label for="jpma">pay max</label>	
					</div>
					<div class="col-md-4 form-floating">
						<select class="form-control" name="payUnit"             id="jpp" required>
							<option selected value="hour">Hour</option>
							<option value="year">Year</option>
						</select>
						<label for="jpp">pay per</label>
					<!--end row 2--></div>

					<!--begin row 3--><div class="col-md-12 form-floating">
						<textarea class="form-control" name="duties"           id="jd"></textarea>
						<label for="jd">duties</label>
					<!--end row 3--></div>

					<!--begin row 4--><div class="col-md-12 form-floating">
						<textarea class="form-control" name="qualifications"  id="jq"></textarea>
						<label for="jq">qualifications</label>
					<!--end row 4--></div>

					<!--begin row 5--><div class="col-md-12 form-floating">
						<textarea class="form-control" name="instructions"  id="ji"></textarea>
						<label for="ji">instructions</label>
					<!--end row 5--></div>
					
					<!--begin row 6-->						
						<input  class="col-md-3 btn btn-outline-secondary btn-lg px-4" id="js"
							type="submit" value="Save">
					<!--end row 6--><div class="col-md-9 form-floating"></div>


				</form>
			<!--column 2--></div>
		<!--column container--></div>


		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/loadSidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>