<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/images/.favicon.ico">
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>Catalyst Hub - sign in</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>

		<!--column container--><div class="sidebar-main-parent">
			<!--column 1--><div id="sidebar" class="sidebar"></div><!--column 1-->
			<!--column 2--><div class="main-window">
				<div id="msg ">
					<% if( locals.message ) { %>
						<p><%= locals.message %></p>
					<% } %>
					<% if( messages.error ) { %>
						<p><%= messages.error %></p>
					<% } %>
					<% if( messages.success ) { %>
						<p><%= messages.success %></p>
					<% } %>
				</div>
				<form class="row g-3 lfxForm" name="signin" action="/auth/signin" method=post>
					
					<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
					
					<!--begin row 1--><div class="col-md-8 form-floating">
						<input class="form-control" type="email" id="usr" name="emailAddress" required>
						<label for="usr">Email address</label>
					</div>
					<div class="col-md-4 form-floating">
						<input class="form-control" type="password" id="pwd" name="password" required>
						<label for="pwd">Password</label>
					<!--end row 1--></div>

					<!--begin row 2--><div class="col-md-3 form-floating">
						<input class="btn btn-outline-secondary btn-lg px-4" type="submit"
							id="signinSubmit" value="Sign In">
					</div>
					<!--end row 2--><div class="col-md-8 form-floating"></div>
				</form>

			<!--column 2--></div>
		<!--column container--></div>	


		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/loadSidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>